<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @obrigation.content %>
</p>

<p>
  <strong>Title:</strong>
  <%= @obrigation.title %>
</p>

<%= link_to 'Edit', edit_obrigation_path(@obrigation) %> |
<%= link_to 'Back', obrigations_path %>
